<p>
This lesson aims to teach responsible machine learning practices with a focus on fairness, explainability, reproducibility, and safety. 
Participants will learn about the interpretability, reproducibility, and/or fairness of the models they build.  
Participants will discuss how to connect the principles applied in this training to models they want to build for their research.
<strong> Participants must have experience using Python and a basic understanding of machine learning (e.g., familiar with the concepts like 
train/test split and cross-validation) and should have trained at least one model in the past. </strong>
</p>
