<div class="row">
  <div class="col-md-6">
    
    <table class="table table-striped">
      <tr> <td>Day 1</td> <td><a href="https://carpentries-incubator.github.io/fair-explainable-ml/">Model evaluation and fairness</a></td> </tr>
      <tr> <td>Day 2</td>  <td><a href="https://carpentries-incubator.github.io/fair-explainable-ml/">Interpretability and explainability methods</a></td> </tr>
      <tr> <td>Day 3</td>  <td><a href="https://carpentries-incubator.github.io/fair-explainable-ml/">Out-of-distribution detection & accountability</a></td> </tr>
    </table>
</div>
